/*copied from responsive theme to satiate my curiosity*/
.menu {
  clear: both;
  margin: 0 auto;
}

.main-nav {
  clear: both;
}

.menu,
.menu ul {
  display: block;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu li {
  border: 0;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 5;
}

.menu li:hover {
  white-space: normal;
  z-index: 10000;
}

.menu li li {
  float: none;
}

.menu ul {
  left: 0;
  position: absolute;
  top: 0;
  visibility: hidden;
  z-index: 10;
}

.menu li:hover > ul {
  top: 100%;
  visibility: visible;
}

.menu li li:hover > ul {
  left: 100%;
  top: 0;
}

.menu:after,
.menu ul:after {
  clear: both;
  content: '.';
  display: block;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.menu,
.menu ul {
  min-height: 0;
}

.menu ul,
.menu ul ul {
  margin: 0;
  padding: 0;
}

.menu ul li a:hover,
.menu li li a:hover {
  color: #484848;
  text-decoration: none;
}

.menu ul {
  margin-top: 1px;
  min-width: 15em;
  width: auto;
}

.menu a {
  border-left: 1px solid #585858;
  color: #ffffff;
  cursor: pointer;
  display: block;
  font-size: 13px;
  font-weight: 700;
  height: 45px;
  line-height: 45px;
  margin: 0;
  padding: 0 0.9em;
  position: relative;
  text-decoration: none;
  text-shadow: 0 -1px 0 #000000;
  white-space: nowrap;
}

.menu a:hover {
  background-color: #808080;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#808080), to(#363636));
  background-image: -webkit-linear-gradient(top, #808080, #363636);
  background-image: -moz-linear-gradient(top, #808080, #363636);
  background-image: -ms-linear-gradient(top, #808080, #363636);
  background-image: -o-linear-gradient(top, #808080, #363636);
  background-image: linear-gradient(top, #808080, #363636);
  color: #ffffff;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#808080, endColorstr=#363636);
}

ul.menu > li:hover {
  background-color: #363636;
  color: #ffffff;
}

.menu .current_page_item a,
.menu .current-menu-item a {
  background-color: #343434;
}

.front-page .menu .current_page_item a {
  background: none;
  background-color: transparent;
  background-image: none;
  filter: none;
}

.menu li li {
  background: #ffffff;
  background-image: none;
  border: 1px solid #e5e5e5;
  color: #444444;
  filter: none;
  margin: -1px 0 1px 0;
  width: auto;
}

.menu li li a {
  background: transparent !important;
  border: none;
  color: #444444;
  font-size: 12px;
  font-weight: 400;
  height: auto;
  height: 20px;
  line-height: 20px;
  padding: 5px 10px;
  text-shadow: none;
  white-space: nowrap;
}

.menu li li a:hover {
  background: #f5f5f5 !important;
  background-image: none;
  border: none;
  color: #444444;
  filter: none;
}

.menu li li:hover {
  background: #f5f5f5 !important;
  filter: none;
}

.menu ul > li + li {
  border-top: 0;
}

.menu li li:hover > ul {
  left: 100%;
  top: 0;
}

.menu > li:first-child > a {
  border-left: none;
}

.menu a#responsive_menu_button {
  display: none;
}

.main-nav #responsive_current_menu_item {
  display: none;
}

/*General style tweaks*/
html {
	font-size: 16px;
}

a {
	color: #3FA9F5;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	color: #3FA9F5;
}

#container{
	max-width: 960px;
}

/*Nav style tweaks*/
.main-nav,
.main-nav .menu,
ul.menu > li:hover {
	background: transparent;
}

.page_item a,
.menu li a {
	background-color: #808080;
}

.front-page .menu .current_page_item a,
.menu .current_page_item a,
.page_item a::selection,
.menu a:hover {
	background-color: #3FA9F5;
	background-image: none;
	text-decoration: none;
}

.current_page_item a,
.page_item a,
.menu li a {
	border: none;
	margin: 0 10px 10px 0;
	padding: 10px 20px;
	text-shadow: none;
	font-size: 1rem;
	line-height: 1rem;
	text-transform: capitalize;
	height: auto;
}

.menu ul {
	min-width: 0;
}

.menu li {
	list-style: none;
	float: left;
	line-height: 1rem;
	display: block;
}

.menu li li {
  background: #808080;
  border: none;
  color: #fff;
  margin: -9px 0 0 0;
  width: auto;
}

.menu li li a {
  color: #fff;
  font-size: 1rem;
  font-weight: 300;
  height: auto;
  line-height: 1rem;
  padding: 10px 20px;
  width: auto;
}

.menu li li a:hover {
  background: #3FA9F5!important;
  color: #fff;
}

.menu li li:hover {
  background: #3FA9F5!important;
}

.front-page #wrapper {
	margin-top: 0;
	margin-bottom: 0;
}